/* create grid for colors to go into
define the size of the grid
 */
/* * {
  box-sizing: border-box;
} */
/* body {
   background: whitesmoke;
  border: 1px solid black; 
  width: 75%;
  height: 80%;
} */
h1 {
  display: flex;
  justify-content: center;
  font-size: 100px;
  border: 1px solid transparent;
  border-radius: 25px;
  width: 800px;
  margin: auto;
  background-color: grey;
  box-shadow: 3px 3px 15px #ff0000, -3px -3px 15px red;
  text-shadow: -1px 1.3px red;
}
#pixelPainter {
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: red;
  margin: 15px auto;
  width: 800px;
}
#grid,
#swatch {
  display: flex;
  width: 630px;
  height: 546px;
  border: 1px solid transparent;
  justify-content: center;
}
#swatch {
  margin: 10px;
  border: 1px solid black;
  width: 210px;
  height: 83px;
}

.pixel {
  height: 40px;
  width: 40px;
  border: 1px solid black;
}
#grid:hover {
  cursor: crosshair;
}
#swatch:hover {
  cursor: pointer;
}
#tools {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 0px;
  margin: 5px;
}

.save:hover,
.clear:hover,
.eraser:hover,
.load:hover {
  cursor: pointer;
  background: whitesmoke;
}
.clear:active,
.save:active,
.eraser:active,
.load:active {
  background: black;
  color: white;
}
.eraser,
.save,
.clear,
.load {
  height: 25px;
  width: 80px;

  padding: 3px 3px 3px 3px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 5px;
  background-color: rgba(233, 204, 39, 0.733);
  text-align: center;
}

/* .eraser:hover {
  cursor: pointer;
  background: rgb(192, 157, 248);
} */
/* .eraser:active {
  background: black;
  color: white;
} */
/* .clear {
  width: 80px;
  height: 36px;
  text-align: center;
  padding: 3px 3px 3px 3px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 5px;
} */
